/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

.d-box { 
  position: relative;
  background-color: #0271c0;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  line-height: 1.3;
  box-shadow: inset 0px 3px 10px 0px #000;
  height: 85px;
} 

.d-line {
  position: absolute;
  width: 25px;
  height: 2px;
  color: #bb0202;
  background-color: #bb0202;
  left: -25px;
}

.d-tables td {
  border-right: 1px solid #dee2e6;
  border-bottom: none;
  border-left: 1px solid #dee2e6;
  border-top: none;
}